.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 64px; /* Set the navbar height */
    padding: 0 20px;
    background-color: #fff; /* Optional: You can set a background color */
}

.chat-feed {
    font-family: Inter;
    font-size: 17.5px;
    font-weight: 500;
    color: #8A8EA6;
}

.content-container {
    display: flex;
    align-items: center;
    gap: 20px; /* Space between the child elements */
}

.owner-container,
.admin-container,
.logout-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Centers content horizontally within each container */
    height: 100%; /* Ensures they all have the same height as navbar */
    gap: 10px;
}

.owner-container {
    height: 100%; /* Ensures this container is the same height as the navbar */
}

.owner {
    color: #44486D;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    background-color: #FCCC55;
    padding: 5px 15px;
    border-radius: 5px;
}

.admin-container {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%; /* Ensures this container is the same height as the navbar */
}

.admin {
    background-color: #E553BC;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 15px;
}

.admin-name {
    font-size: 14px;
    font-weight: 400;
    color: #8A8EA6;
}

.avatar-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.settings-icon,
.logout-icon {
    width: 20px;
    height: 20px;
}

.logout-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Centers content horizontally within the container */
    height: 100%; /* Ensures this container is the same height as the navbar */
}

.logout-button {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    color: #8A8EA6;
    background-color: transparent;
    border: none;
    cursor: pointer;
}